# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_NAME=GestionFundacion
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui

# Clave secreta para las sesiones de Flask
SECRET_KEY=clave_secreta_muy_segura_para_flask
