{% extends 'base.html' %}

{% block content %}
    <h1>Listado de Personal</h1>

    <table>
        <thead>
            <tr>
                <th>Rol</th>
                <th>Nombre Completo</th>
                <th>Cédula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td><strong>{{ empleado[4] }}</strong></td> 
                
                <td>{{ empleado[0] }} {{ empleado[1] }} {{ empleado[2] }}</td>
                
                <td>{{ empleado[3] }}</td>
                
                <td>
                    <a href="#" style="color: #897F40; text-decoration: none;">Editar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No hay personal registrado en la base de datos.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}